############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Linux
*.swp

# Visual Studio
*.csproj
*.csproj.user
*.sln
*.suo
*.config
[Bb]in/
obj/
Properties/
_ReSharper*/